.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #26262c;
    border: 1px #3c3c44 solid;
    border-radius: 10px;
    padding: 10px;
    gap: 30px;
}

.ttlContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.ttlContainer h1 {
    font-size: 1.4rem;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.ttlContainer p {
    font-size: 0.8rem;
    color: white;
}